<!DOCTYPE html>
<html ng-app="kent" ng-controller="MainCtrl" ng-keyup="shortcutHidePhone($event)">
  <head>
    <title>Kent C. Dodds</title>
    
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="description" content="Personal portfolio website of Kent C. Dodds. Connect with Kent here." />
    <meta name="keywords" content="Kent Dodds, kentcdodds, Kent C. Dodds, web developer, frontend developer" />
    <meta name="author" content="Kent C. Dodds" />

    <link rel="icon" type="image/png" href="/favicon.png">
    <link rel="stylesheet" type="text/css" href="styles/styles.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/bootstrap/3.0.3/css/bootstrap.min.css" />
    <link rel="stylesheet" type="text/css" href="//netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css">
  </head>
  <body class="ng-cloak">
    <div id="content">
      <h1 id="name">Kent C. Dodds</h1>
      
      <div class="alert-container" ng-class="{visible: alert.visible}">
        <div class="alert alert-{{alert.type}}">
          <button type="button" class="close" aria-hidden="true" ng-click="alert.visible = false">×</button>
          <strong>{{alert.strong}}</strong> {{alert.content}} <a ng-if="alert.link" ng-href="{{alert.link}}" ga class="small">Learn more...</a>
        </div>
      </div>

      <p id="tagline">I'm a husband, father,
        <a href="http://www.attask.com" ga>AtTasker</a>,
        <a href="http://www.github.com/kentcdodds" ga>web developer</a>,
        <a href="http://plus.google.com/+KentCDodds" ga>tech enthusiast</a>,
        <a href="http://www.byu.edu" ga>student</a>,
        and <a href="http://www.mormon.org" ga>Mormon</a>
      </p>

      <div id="social">
        <p>
          <span class="section-label">Connect with me online:</span>
        </p>
        <div id="social-icons" style="{{'max-width: ' + (networks.length * 68 > 750 ? 750 : networks.length * 68) + 'px'}}">
          <a
            ng-repeat="network in networks"
            class="social-slide {{network.class}}"
            title="{{network.summary}}"
            ng-style="{'background-image': 'url(' + getBackgroundImage(network.name) + ')'}"
            ng-href="{{network.url}}"
            ga
          ></a>
        </div>
      </div>

      <div id="projects">
        <p><span class="section-label">Some of my personal projects:</span>
          <div>
            <ul>
              <li ng-repeat="project in projects">
                <a ng-href="{{project.url}}" ga>{{project.name}}</a> - {{project.description}}
              </li>
            </ul>
          </div>
        </p>
      </div>
      <h3 id="genie-notice"><small>This site is empowered by <a href="http://kentcdodds.github.com/genie" ga>genie</a> (press <span class="rub-the-lamp" ng-click="lampVisible=!lampVisible; $event.stopPropagation();" ga>ctrl+space</span>)</small></h3>
    </div>

    <div ux-lamp rub-class="visible" local-storage="true" wish-callback="wishMade(wish)" lamp-visible="lampVisible"></div>
    
    <div class="kcd-modal-backdrop" ng-class="{'visible': showPhone}" ng-click="hidePhone()">
      <div class="kcd-modal" ng-class="{'small': !showPhone}" ng-click="preventHidePhone($event)">
        <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85"><param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" /><param name="wmode" value="transparent" /><param name="FlashVars" value="id=a8dd9c58da5043dca0e879988f5cadc447e74f7a&style=0" /></object>
      </div>
    </div>

    <script src="//ajax.googleapis.com/ajax/libs/angularjs/1.2.5/angular.min.js"></script>
    <script src="vendor/ga.js"></script>
    <script src="vendor/genie/genie.js"></script>
    <script src="vendor/genie/uxGenie.js"></script>
    <script src="scripts/script.js"></script>
    <script>
      //Google Analytics
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
      (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
      m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');
      ga('create', 'UA-42764912-1', 'doddsfamily.us');
      ga('require', 'displayfeatures');
      ga('send', 'pageview');
    </script>
  </body>
</html>
