<div class="modal-header">
  <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
  <h3>Call Me</h3>
</div>
<div class="modal-body">
  <div>
    I use Google Voice exclusively. This means that you can call me using the widget below.
    Just click the Google Voice widget, enter your name and phone number, and click connect.
    Google Voice will then call you and connect you to me. It's that simple! Looking forward to your call!
  </div>
  <div id="call-widget">
    <div id="gv-status">Loading Google Voice...</div>
    <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
      <param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
      <param name="wmode" value="transparent" />
      <param name="FlashVars" value="id=a8dd9c58da5043dca0e879988f5cadc447e74f7a&style=0" />
    </object>
  </div>
</div>