<div ng-controller="ContactCtrl">
  <h1>Contact me</h1>
  <p>Below you will find a list of all the networks you can connect with me on.
    I'm more active on some than others.
    I tried to put them in order of activity. Enjoy :)</p>
  <a
    ng-repeat="network in networks"
    class="social-slide {{network.class}}"
    title="{{network.summary}}"
    ng-style="{'background-image': 'url(' + getBackgroundImage(network.name) + ')'}"
    ng-href="{{network.url}}"
    ng-click="networkClick($index)"
    target="_blank"
    ga
  >
  </a>
  
  <div class="md-modal md-effect-16" id="modal-16">
    <div class="md-content">
      <h3>Call Me</h3>
      <p>
        I use <a href="http://voice.google.com" target="_blank">Google Voice</a> exclusively.
        So aside from all the other <a href="http://www.youtube.com/user/GoogleVoice">cool features</a>
        you can call me using the widget below.<br /><br />
        <strong>How it works:</strong><br />
        Simply click the Google Voice widget below, enter your name and phone number, and click connect.
        Google Voice will then call you and connect you to me. It's that simple! Looking forward to your call!
      </p>
      <div id="call-widget">
        <object type="application/x-shockwave-flash" data="https://clients4.google.com/voice/embed/webCallButton" width="230" height="85">
          <param name="movie" value="https://clients4.google.com/voice/embed/webCallButton" />
          <param name="wmode" value="transparent" />
          <param name="FlashVars" value="id=a8dd9c58da5043dca0e879988f5cadc447e74f7a&style=0" />
        </object>
      </div>
      <i class="icon-remove-circle" ng-click="closePhoneModal()"></i>
    </div>
  </div>
  <div class="md-overlay"></div><!-- the overlay element -->
</div>