<div ng-controller="ContactCtrl">
  <h1>Contact me</h1>
  <p>You can view my resume <a href="/resume">here</a></p>
  <p>Below you will find a list of all the networks you can connect with me on.
    I'm more active on some than others.
    I tried to put them in order of activity. Enjoy :)</p>
  <div>
    <a
      ng-repeat="network in networks"
      class="social-slide {{network.class}}"
      title="{{network.summary}}"
      ng-style="{'background-image': 'url(' + getBackgroundImage(network.name) + ')'}"
      ng-href="{{network.url}}"
      target="{{network.target || '_blank'}}"
      ga
    >
    </a>
  </div>
</div>
