<div ng-controller="ProjectsCtrl">
  <h1>My Projects</h1>
  <div ng-show="underConstruction">
    <div ng-include src="'./views/under-construction.html'"></div>
    <p>But, in case you can't wait. My main projects are:</p>
    <ul>
      <li><a href="http://www.spendmycents.com" ga>SpendMyCents.com</a></li>
      <li><a href="./demos/dt-script-loader/" ga>Double Take Script Loader</a></li>
      <li><a href="./demos/js-point/js-point" ga>JS-Point</a></li>
      <li><a href="http://kent.doddsfamily.us" ga>This site!</a></li>
    </ul>
    <p>And there will be more to come!</p>
  </div>
  <div ng-hide="underConstruction">
  <ul id="bl-work-items">
    <li ng-repeat="project in projects" ng-click="clickProject({{$index}})" data-panel="panel-{{$index}}">
      {{project.title}}
    </li>
  </ul>
  <div class="bl-panel-items" id="bl-panel-work-items">
    <div ng-repeat="project in projects" data-panel="panel-{{$index}}">
      <div>
        <!-- <img src="{{project.img}}" ng-show="{{project.img}}" /> -->
        <h3>{{project.title}}</h3>
        <p>{{project.description}}</p>
        <p>{{getContributors($index)}}</p>
      </div>
    </div>
    <nav>
      <span class="bl-prev-work" ng-click="changeProject(-1)">&lt; Prev</span>
      <span class="bl-next-work" ng-click="changeProject(1)">&gt; Next</span>
      <span class="bl-icon bl-icon-close" ng-click="closeProjectPanels"></span>
    </nav>
  </div>
  </div>
</div>
