@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'icomoon';
  src:url('./fonts/icomoon.eot');
  src:url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
  url('./fonts/icomoon.woff') format('woff'),
  url('./fonts/icomoon.ttf') format('truetype'),
  url('./fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html {
  font-size: 25px;
  padding: 0;
  margin: 0;
  height: 100%;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
  font-family: 'Lato', Calibri, Arial, sans-serif;
  color: #f2ede3;
  background: #333;
  font-size: 0.9em;
  font-weight: 300;
}

a {
  color: #f0f0f0;
}

a:hover {
  color: #fff;
}

.container { height: 100%; }

[ng\:cloak], [ng-cloak], [data-ng-cloak], [x-ng-cloak], .ng-cloak, .x-ng-cloak {
  display: none;
}

.blur {
  -webkit-filter: blur(3px);
  -moz-filter: blur(3px);
  filter: blur(3px);
}