/* Custom content */
.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.7em;
  line-height: 1.8;
}

.bl-content h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

.bl-content h2 {
  font-size: 2.75em;
  font-weight: 200;
  margin: 0 0 15px 0;
}

.bl-content h3 {
  font-size: 2.5em;
  font-weight: 100;
  margin: 0 0 10px 0;
}

.bl-content,
.icon-remove-circle {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}
