.social-slide {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.2s;
  -moz-transition: all ease 0.2s;
  -o-transition: all ease 0.2s;
  -ms-transition: all ease 0.2s;
  transition: all ease 0.2s;
  cursor: pointer;
}

.social-slide:hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}