.bl-content,
div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Panel Items */
div.bl-panel-items,
div.bl-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

div.bl-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
  font-size: 1.3em;
}

div.bl-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

div.bl-panel-items {
  top: 100%;
  z-index: 9999;
}

div.bl-panel-items > div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}

div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}
