#title {
  text-align: center;
  font-size: 3em;
}

/*
 * Social Media Stuff
 */
#social-media-links {
  text-align: center;
  margin-left: auto;
  margin-right: auto;
  width:  408px;
}

.social-slide {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
.social-slide:hover, .social-slide.hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

/* Call Widget stuff */

#call-widget {
  margin-top: 40px;
  text-align: center;
  margin-bottom: 20px;
}

#call-widget div {
  z-index: -1;
}

#call-widget object {
  margin-top: -30px;
}
