.ng-cloak {
  display: none;
}

body {
  text-align: center;
  position: absolute;
  overflow: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  background-color: #FFF;
  color: #535353;
  font-family: "Trebuchet MS", Helvetica, sans-serif;
}

a, a:visited {
  color: #08C;
}

a:hover, a:active, a:focus {
  color: #005580;
}

.rub-the-lamp {
  background: rgba(0, 0, 0, 0);
  color: #428BCA;
  text-decoration: none;
  cursor: pointer;
}

.rub-the-lamp:hover, .rub-the-lamp:focus {
  color: #2A6496;
  outline: 0;
  text-decoration: underline;
}

#content {
  display: inline-block;
  text-align: start;
  max-width: 750px;
  margin: 20px;
}

#name {
  font-size: 100px;
  text-align: center;
}

.alert-container {
  position: relative;
  transition: all .2s ease-in-out;
  opacity: 0;
  z-index: -1;
}

.alert {
  position: absolute;
  width: 100%;
  box-shadow: 0px 0px 18px 1px #888
}

#tagline {
  font-size: 18px;
}

.section-label {
  font-size: 14px;
}

#projects {
  clear: both;
}

#social-icons {
  height: 80px;
  margin-left: auto;
  margin-right: auto;
}

.social-slide {
  height: 48px;
  width: 48px;
  margin: 10px;
  float: left;
  -webkit-transition: all ease 0.3s;
  -moz-transition: all ease 0.3s;
  -o-transition: all ease 0.3s;
  -ms-transition: all ease 0.3s;
  transition: all ease 0.3s;
  cursor: pointer;
}
.social-slide:hover {
  background-position: 0px -48px;
  box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.8);
}

#genie-notice {
  margin-bottom: 50px;
  text-align: center;
}

.genie-container {
  text-align: left;
  opacity: 0;
  position: fixed;
  top: 10%;
  left: 50%;
  z-index: -1;
  -mos-border-radius: 8px;
  border-radius: 8px;
  color: #333;
  background-color: #F7F7F7;
  box-shadow: 0px 0px 26px 6px #888888;
  width: 600px;
  margin-left: -300px;
  padding: 16px;
  transition: all .2s ease-in-out;
}

.visible {
  opacity: 1;
  z-index: 1050;
}

.genie-container > input {
  -mos-border-radius: 8px;
  border-radius: 8px;
  margin: 0px;
  width: 100%;
  line-height: 60px;
  padding: 0px 12px 0px 12px;
  font-size: 40px;
  height: 60px;
}

.genie-wishes {
  margin-top: 10px;
  cursor: pointer;
  overflow-y: auto;
  width: 100%;
  max-height: 300px;
  font-size: 30px;
}

.genie-wish {
  padding: 0px 12px 0px 12px;
  line-height: 50px;
}

.genie-wish.focused {
  -mos-border-radius: 8px;
  border-radius: 8px;
  background-color: #DDD;
}

.genie-wish > img, .genie-wish > i {
  height: 35px;
  margin-right: 10px;
}

.kcd-modal-backdrop {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  overflow: auto;
  text-align: center;
  background-color: rgba(51, 51, 51, 0.5);

  white-space: nowrap;
  z-index: -1;
  opacity: 0;
  transition: opacity .3s, z-index 0s .3s;
}

.kcd-modal-backdrop.visible {
  transition: opacity .3s, z-index 0s;
  opacity: 1;
  z-index: 2000;
}

.kcd-modal-backdrop .kcd-modal {
  -webkit-box-shadow: 0 0 0 6px rgba(84, 88, 90, 0.25);
  -moz-box-shadow: 0 0 0 6px rgba(84,88,90,0.25);
  box-shadow: 0 0 0 6px rgba(84, 88, 90, 0.25);
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
  border-radius: 5px;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  position: relative;
  background: #FFF;
  max-height: 90%;
  max-width: 500px;
  margin-top: 100px;
  overflow: auto;
  padding: 40px 40px 40px 40px;
  display: inline-block;
  text-align: center;
  vertical-align: middle;
  white-space: normal;
}