@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);

@font-face {
  font-family: 'icomoon';
  src:url('./fonts/icomoon.eot');
  src:url('./fonts/icomoon.eot?#iefix') format('embedded-opentype'),
    url('./fonts/icomoon.woff') format('woff'),
    url('./fonts/icomoon.ttf') format('truetype'),
    url('./fonts/icomoon.svg#icomoon') format('svg');
  font-weight: normal;
  font-style: normal;
}

body, html { font-size: 100%; padding: 0; margin: 0; height: 100%;}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

body {
    font-family: 'Lato', Calibri, Arial, sans-serif;
    color: #f2ede3;
    background: #333;
    font-size: 0.9em;
    font-weight: 300;
}

a {
  color: #f0f0f0;
  text-decoration: none;
  font-weight: 700;
  letter-spacing: 2px;
  padding: 0 5px;
  text-transform: uppercase;
  font-size: 80%;
}

a:hover {
  color: #fff;
}

.container { height: 100%; }


/**
 * Media queries. Responsive design.
 */
@media all and (max-height: 260px) {
  #my-name {
    display: none;
  }

  .no-touch section:not(.bl-expand) .bl-box:hover .bl-box-label {
    -webkit-transform: translateY(-5px);
    -moz-transform: translateY(-5px);
    -ms-transform: translateY(-5px);
    transform: translateY(-5px);
  }

  .bl-box-label > i {
    font-size: 30px;
  }

  .bl-box-label > h1 {
    font-size: 20px;
  }

  .bl-sections > section {
    height: 50%;
  }

  .bl-sections > section:nth-child(2),
  .bl-sections > section:nth-child(3) {
    top: 0%;
  }

  .bl-sections > section:nth-child(4),
  .bl-sections > section:nth-child(5) {
    top: 50%;
  }

  .bl-box > .bl-icon {
    padding: 0;
  }

  div.bl-panel-items > div > div,
  div.bl-content {
    top: 6px;
  }

  .bl-sections > section .icon-remove-circle {
    top: 3px;
    font-size: 20px;
  }
}

@media all and (max-height: 405px) and (min-height: 260px) {
  #my-name {
    font-size: 40px;
    margin-top: 0px;
  }

  .no-touch section:not(.bl-expand) .bl-box:hover .bl-box-label {
    -webkit-transform: translateY(-10px);
    -moz-transform: translateY(-10px);
    -ms-transform: translateY(-10px);
    transform: translateY(-10px);
  }

  .bl-box-label > i {
    font-size: 40px;
  }

  .bl-box-label > h1 {
    font-size: 25px;
  }

  .bl-sections > section {
    height: 42.1%;
  }

  .bl-sections > section:nth-child(2),
  .bl-sections > section:nth-child(3) {
    top: 16%;
  }

  .bl-sections > section:nth-child(4),
  .bl-sections > section:nth-child(5) {
    top: 58%;
  }

  div.bl-panel-items > div > div,
  div.bl-content {
    top: 10px;
  }

  .bl-sections > section .icon-remove-circle {
    top: 5px;
    font-size: 25px;
  }
}

@media all and (max-height: 600px) and (min-height: 405px) {
  #my-name {
    font-size: 60px;
    margin-top: 5px;
  }

  .no-touch section:not(.bl-expand) .bl-box:hover .bl-box-label {
    -webkit-transform: translateY(-15px);
    -moz-transform: translateY(-15px);
    -ms-transform: translateY(-15px);
    transform: translateY(-15px);
  }

  .bl-box-label > i {
    font-size: 45px;
  }

  .bl-box-label > h1 {
    font-size: 30px;
  }


  .bl-sections > section {
    height: 42.1%;
  }

  .bl-sections > section:nth-child(2),
  .bl-sections > section:nth-child(3) {
    top: 16%;
  }

  .bl-sections > section:nth-child(4),
  .bl-sections > section:nth-child(5) {
    top: 58%;
  }

  div.bl-panel-items > div > div,
  div.bl-content {
    top: 20px;
  }

  .bl-sections > section .icon-remove-circle {
    top: 10px;
    font-size: 30px;
  }
}

@media all and (min-height: 600px) {
  #my-name {
    font-size: 85px;
    margin-top: 10px;
  }

  .no-touch section:not(.bl-expand) .bl-box:hover .bl-box-label {
    -webkit-transform: translateY(-20px);
    -moz-transform: translateY(-20px);
    -ms-transform: translateY(-20px);
    transform: translateY(-20px);
  }

  .bl-box-label > i {
    font-size: 55px;
  }

  .bl-box-label > h1 {
    font-size: 35px;
  }

  .bl-sections > section {
    height: 42.1%;
  }

  .bl-sections > section:nth-child(2),
  .bl-sections > section:nth-child(3) {
    top: 16%;
  }

  .bl-sections > section:nth-child(4),
  .bl-sections > section:nth-child(5) {
    top: 58%;
  }

  div.bl-panel-items > div > div,
  div.bl-content {
    top: 40px;
  }

  .bl-sections > section .icon-remove-circle {
    top: 20px;
    font-size: 40px;
  }
}

#my-name {
  text-align: center;
}

.bl-sections {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.bl-sections > section {
  position: absolute;
  width: 50%;
}

.bl-sections > div:first-child {
  top: 0;
  width: 100%;
  height: 16%;
}

.bl-sections > section:nth-child(2) {
  left: 0;
  background: #3498db;
}

.bl-sections > section:nth-child(3) {
  left: 50%;
  background: #95a5a6;
}

.bl-sections > section:nth-child(4) {
  left: 0;
  background: #2ecc71;
}

.bl-sections > section:nth-child(5) {
  left: 50%;
  background: #e74c3c;
}

.bl-box {
  position: relative;
  width: 100%;
  height: 100%;
  cursor: pointer;
  opacity: 1;
  /* Centering with flexbox */
    display: -webkit-box;
    display: -moz-box;
    display: -ms-flexbox;
    display: -webkit-flex;
    display: flex;
    -webkit-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -webkit-box-pack: center;
    -moz-box-pack: center;
    -webkit-justify-content: center;
    -ms-flex-pack: center;
    justify-content: center;
    -webkit-box-align: center;
    -moz-box-align: center;
    -webkit-align-items: center;
    -ms-flex-align: center;
    align-items: center;
}

.bl-box-label {
  text-align: center;
  margin: 0;
  width: 100%;
  letter-spacing: 2px;
  font-weight: 700;
  text-transform: uppercase;
}

.bl-box-label > h1 {
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  cursor: pointer;
  margin-top: 10px;
  margin-bottom: 0px;
  -webkit-font-smoothing: antialiased;
}

.bl-sections > section .icon-remove-circle {
  position: absolute;
  right: 20px;
  cursor: pointer;
  z-index: 100;
  opacity: 0;
  pointer-events: none;
}

.bl-content, 
div.bl-panel-items > div > div {
  opacity: 0;
  pointer-events: none;
  position: absolute;
  left: 30px;
  right: 30px;
  bottom: 30px;
  padding: 0 20px;
  overflow: hidden;
  overflow-y: auto;
  -webkit-overflow-scrolling: touch;
}

/* Custom content */

.bl-content p {
  margin: 0 auto;
  padding-bottom: 15px;
  font-size: 1.7em;
  line-height: 1.8;
}

.bl-content h1 {
  font-size: 3em;
  font-weight: 300;
  margin: 0 0 20px 0;
}


/* Panel Items */
div.bl-panel-items,
div.bl-panel-items > div {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: absolute;
}

div.bl-panel-items > div > div {
  width: 60%;
  margin: 0 auto;
  opacity: 1;
  bottom: 90px;
  top: 90px;
  pointer-events: auto;
}

div.bl-panel-items > div > div h3 {
  font-size: 2.4em;
  font-weight: 300;
  margin: 0 0 20px 0;
}

div.bl-panel-items > div > div p {
  font-size: 1.3em;
}

div.bl-panel-items > div > div img {
  float: left;
  margin: 0 20px 20px 0;
  max-width: 100%;
}

div.bl-panel-items {
  top: 100%;
  z-index: 9999;
}

div.bl-panel-items > div {
  background: #3ba5db;
  z-index: 0;
  opacity: 0;
  -webkit-transform: translateY(0);
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -moz-transform: translateY(0);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  transform: translateY(0);
  transition: transform 0.5s ease-in-out, opacity 0s linear 0.5s;
  -ms-transform: translateY(0);
}

div.bl-panel-items nav {
  position: absolute;
  z-index: 9999;
  width: 216px;
  left: 50%;
  top: 0px;
  margin-left: -108px;
  opacity: 0;
  -webkit-transition: opacity 0.2s ease-in-out 0.5s;
  -moz-transition: opacity 0.2s ease-in-out 0.5s;
  transition: opacity 0.2s ease-in-out 0.5s;
}

div.bl-panel-items.bl-panel-items-show nav span {
  float: left;
  margin: 5px;
}

div.bl-panel-items nav span.bl-next-work {
  font-weight: 700;
  letter-spacing: 2px;
  display: block;
  text-transform: uppercase;
  line-height: 2em;
  cursor: pointer;
  margin-right: 2em;
}

div.bl-panel-items.bl-panel-items-show nav {
  opacity: 1;
  top: -70px;
}

div.bl-panel-items > div.bl-show-work {
  z-index: 1000;
  opacity: 1;
  -webkit-transform: translateY(-100%);
  -webkit-transition: -webkit-transform 0.5s ease-in-out;
  -moz-transform: translateY(-100%);
  -moz-transition: -moz-transform 0.5s ease-in-out;
  transform: translateY(-100%);
  transition: transform 0.5s ease-in-out;
  -ms-transform: translateY(-100%);
}

div.bl-panel-items > div.bl-hide-current-work {
  opacity: 0;
  -webkit-transition: -webkit-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -webkit-transform: translateY(-100%) scale(0.5);
  -moz-transition: -moz-transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  -moz-transform: translateY(-100%) scale(0.5);
  transition: transform 0.5s ease-in-out, opacity 0.5s ease-in-out;
  transform: translateY(-100%) scale(0.5);
  -ms-transform: translateY(-100%) scale(0.5);
  z-index: 0;
}

/* Transition classes and properties */
/* Separated for a better overview and control */

.bl-sections > section {
  -webkit-transition: all 0.5s ease-in-out;
  -moz-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.bl-sections > section.bl-expand {
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.bl-sections > section.bl-expand-top {
  z-index: 100;
}

.bl-sections > section:nth-child(2).bl-expand {
  background: #2980b9;
}
.bl-sections > section:nth-child(3).bl-expand {
  background: #7f8c8d;
}
.bl-sections > section:nth-child(4).bl-expand {
  background: #27ae60;
}
.bl-sections > section:nth-child(5).bl-expand {
  background: #c0392b;
}

.bl-sections.bl-expand-item > section:not(.bl-expand),
.bl-sections.bl-expand-item > section.bl-scale-down {
  -webkit-transform: scale(0.5);
  -moz-transform: scale(0.5);
  -ms-transform: scale(0.5);
  transform: scale(0.5);
  opacity: 0;
}

.bl-box {
  -webkit-transition: opacity 0.2s linear 0.5s;
  -moz-transition: opacity 0.2s linear 0.5s;
  transition: opacity 0.2s linear 0.5s;
}

section.bl-expand .bl-box {
  opacity: 0;
  -webkit-transition: opacity 0s linear;
  -moz-transition: opacity 0s linear;
  transition: opacity 0s linear;
}

.bl-box-label {
  -webkit-transition: all 0.2s ease-in-out;
  -moz-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.bl-content,
.icon-remove-circle {
  -webkit-transition: opacity 0.1s linear 0s;
  -moz-transition: opacity 0.1s linear 0s;
  transition: opacity 0.1s linear 0s;
}

section.bl-expand .bl-content,
section.bl-expand .icon-remove-circle {
  pointer-events: auto;
  opacity: 1;
  -webkit-transition: opacity 0.3s linear 0.5s;
  -moz-transition: opacity 0.3s linear 0.5s;
  transition: opacity 0.3s linear 0.5s;
}

@media screen and (max-width: 46.5em) {
  .bl-content,
  .bl-box {
    font-size: 75%;
  }

  .bl-content > ul li {
    width: 40%;
  }
}
